:root {
  --border-color: rgba(231, 232, 238, 1);
  --table-color: rgba(246, 246, 250, 1);
  --title-color: rgba(52, 42, 94, 1);
  --text-color: rgba(102, 103, 125, 1);
  --placeholder-color: rgba(150, 150, 167, 1);
}

.custom-form-layout {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
}
.custom-form-left-sider {
  width: 20%;
  height: 100%;
}
.custom-form-canvas-layout {
  width: 55%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--table-color);
  cursor: not-allowed;
}
#custom-form-canvas {
  width: 381px;
  height: 584px;
  border-radius: 1px;
  border: 1px solid var(--border-color);
  background: #fff;
  cursor: grab;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
#custom-form-canvas .custom-form-item:last-child {
  margin-bottom: 0px;
}
#custom-form-canvas::-webkit-scrollbar-thumb {
  width: 4px;
}
.custom-form-right-sider {
  width: 25%;
  height: 100%;
  position: relative;
}

.custom-form-left-sider-header {
  font-weight: 600;
  padding: 8px 16px 16px 16px;
  text-align: left;
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
}

.custom-form-component-layout {
  margin: 20px;
}
.custom-form-component-category {
  margin: 16px;
  color: var(--text-color);
  text-align: left;
}
.custom-form-component-category-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.custom-form-component {
  width: calc(50% - 30px);
  text-align: left;
  background: var(--table-color);
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.custom-form-component-name {
  margin-left: 10px;
}

#custom-form-canvas {
  .ant-input-outlined {
    border-color: var(--border-color);
  }
  .ant-input::placeholder {
    color: var(--placeholder-color);
  }
  .ant-picker-disabled,
  .ant-picker .ant-picker-suffix,
  .ant-picker .ant-picker-input > input[disabled],
  .ant-input-disabled,
  .ant-select-disabled .ant-select-selector input {
    cursor: grab !important;
  }
  .ant-input-disabled,
  .ant-select-disabled .ant-select-selector,
  .ant-picker-outlined.ant-picker-disabled {
    background-color: #fff !important;
  }

  .ant-input-outlined.ant-input-disabled {
    color: #000;
  }

  .custom-form-item:has(.custom-form-component-data-range) {
    background-color: var(--table-color);
    border-radius: 0px 4px 4px 0px;
  }
}