.custom-form-layout {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.custom-form-left-sider {
  width: 25%;
  height: 100%;
}
.custom-form-canvas-layout {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  cursor: not-allowed;
}
.custom-form-canvas-header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 48px;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: default;
}
#custom-form-canvas {
  padding: 8px;
  background: #fff;
  cursor: grab;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-form-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
}
#custom-form-canvas .custom-form-item:last-child {
  margin-bottom: 0px;
}
#custom-form-canvas::-webkit-scrollbar-thumb {
  width: 4px;
}
.custom-form-item-selected {
  border: 1px solid #ccc;
  cursor: grab;
}
.custom-form-right-sider {
  width: 25%;
  height: 100%;
}
.custom-form-component-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}
.custom-form-component {
  width: calc(50% - 20px);
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
