.custom-form-component-list{
    min-height: 100px;
    width: 100%;
    padding: 8px;
    text-align: left;
}
.custom-form-component-list-drag-tips{
    border: 1px dashed #ccc;
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin-top: 8px;
}